.contentHome{
  min-height: calc(100vh);
  display: flex;
  align-items: center;
  justify-content: center;
  .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
  }
  .center{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .header{
      font-family: Futura;
      font-size: 39px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 2.5px;
      text-align: left;
      color: #000000;
      margin-bottom: 30px;
    }
    .icons{
      min-width: 60%;
      display: flex;
      flex-direction: column;
      div{
        display: flex;
        align-items: center;
        margin-bottom: 35px;
        img{
          width: 82px;
          height: 73px;
          margin-right: 20px;
        }
        p{
          font-family: Futura;
          font-size: 20px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #000000;
        }
      }
    }
  }
}