.about{
  margin: 0;
  padding: 0;
  width: 100%;
  .pingSvg{
    width: 75vw;
    padding: 0;
    position: absolute;
    top:0;
    right:0;
    z-index: -1;
    font-size: 50px;
  }
  .nav{
    padding-bottom: 91px;
    padding-top: 10px;
  }
}