.wrapper{
  padding-bottom: 180px;
  p{
    font-family: Futura;
    font-size: 1.54vw;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
  }
}