.wrapper{
  padding-bottom: 100px;
  h2{
    font-family: Futura;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin-bottom: 50px;
  }
  .header2{
    font-weight: 100;
    font-size: 39px;
  }
  .groupPhotos{
    width: 100%;
    height: 25vw;
    padding: 0;
  }
}